<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/websocket
       http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <websocket:handlers>
        <websocket:mapping path="/chat" handler="chatroomHandler" />
        <websocket:handshake-interceptors>
            <ref bean="chatroomInterceptor" />
        </websocket:handshake-interceptors>
    </websocket:handlers>

    <websocket:handlers>
        <websocket:mapping path="/chat/sockjs" handler="chatroomHandler" />
        <websocket:handshake-interceptors>
            <ref bean="chatroomInterceptor" />
        </websocket:handshake-interceptors>
        <websocket:sockjs />
    </websocket:handlers>

    <bean id="chatroomHandler" class="bookstore.socket.ChatroomWebSocketHandler">
        <property name="userDao" ref="userDao" />
    </bean>

    <bean id="chatroomInterceptor" class="bookstore.socket.ChatroomWebSocketInterceptor">
        <property name="userDao" ref="userDao" />
    </bean>

</beans>